// EM base - don't change this
$em-base: 10px

// Colors
$primary: #eee
$secondary: #222

$header: #52154E
$bio: #fff
$front-end: #BFC0C0
$back-end: #D64550
$mobile: #00678a
$db: #f5c200
$devops: #ffa400
$methodologies: #ff7d00
$others: #07c900
$contact: #fff
$footer: #222

$footer-links: #fffb00
